</html>

{{{body}}}

{{#if alertMessage}}
<h1 class={{alertClass}}>{{alertMessage}}</h1>
{{/if}}

<h2> About us</h2>

<div class="aboutContainer">
    <div class="personInfo"> 
        <div class="styleSame">
            <p>Eric Duffield:</p>
            <a href="https://www.linkedin.com/in/ericduffield/"><i class="fa fa-linkedin-square"></i></a>
            <a href="https://github.com/ericduffield"><i class="fa fa-github-square" aria-hidden="true"></i></a>
        </div>  
        <div class="customFont">
            <p>
                Eric is a full stack developer with a passion for creating web applications.
                He is a 19 year old computer science student,
                currently attending John Abbott College
            </p>
            <a href="https://ericduffield.com/"><img src="{{eric}}" alt="Eric" style="border-radius: 50%; height=200px; width: 200px;">
        </a></div>               
    </div>

    <div class="personInfo">
        <div class="styleSame">
            <p>Liam Kokpe:</p>
            <a href="https://www.linkedin.com/in/liam-kopke-019a2415a/"><i class="fa fa-linkedin-square"></i></a>
            <a href="https://github.com/LiamKopke"><i class="fa fa-github-square" aria-hidden="true"></i></a>
        </div>
        <div class="customFont">
            <p> Liam is a programming project enthusiasm, 
                who loves to program. 
                His favorite programming language is C#, he is also attending John Abbott College 
            </p>
            <a href="https://www.linkedin.com/in/liam-kopke-019a2415a/"><img src="{{liam}}" alt="Liam" style="border-radius: 50%; height=1000px; width: 210px;">
       </a>  </div>
    </div>
    <div class="personInfo">
        <div class="styleSame">
            <p>Pleasure Singh:</p>
            <a href="https://www.linkedin.com/in/pleasure-ghotra-0b8a01203/"><i class="fa fa-linkedin-square"></i></a>
            <a href="https://github.com/PleasureGT"><i class="fa fa-github-square" aria-hidden="true"></i></a>
        </div>
        <div class="customFont">
            <p> Pleasure is a 20 year old who loves Web development. His favorite language is 
                Python and Javascript. He loves to cook food and eat food also  
            </p>
            <a href="https://crypto.com/price/terra-luna"><img src="{{pleasure}}" alt="Pleasure" style="border-radius: 50%; height=200px; width: 200px;">
        </a></div>
    </div>
</div>



</html>