{{#if message}}
<h1>{{message}}</h1>
{{/if}}


<div class="accountEdits">
    <h1>Welcome to your Account</h1>
</div>

{{!-- Display all the user fields --}}

<h3>Your Info</h3>
<div class="grid">
    <div>
        {{#each userFields}}
            <div class="fields">
                <p><b>{{this.name}}</b>: {{this.value}}</p>
            </div>
        {{/each}}
    </div>
</div>
    
<h3>Rentals</h3>
<div class="grid">    
    {{#each userRentals}}
        <div>
            {{#each rental}}
                <div class="fields">
                    <p><b>{{this.name}}</b>: {{this.value}}</p>
                </div>
            {{/each}}
        </div>
    {{/each}}
</div>

{{!-- Display all the user's rentals --}}


<div class="logoutAccount">
    <form action="/logout" method="post">
        <button class="btn btn-primary buttonRent" name="foo" value="upvote">Logout</button>
    </form>
</div>
