{{#if message}}
<h1>{{message}}</h1>
{{/if}}


<div class="accountEdits">
    <h1>Welcome to your Account</h1>
</div>

<div class="accountInfo">
    <div class="basicInfo">
        {{#each userFields}}
            <div class="accountContainer">
                <h3>{{this.name}}</h3>
                <p class="basicEdits">{{this.value}}</p>
            </div>
        {{/each}}
    </div>
</div>
    {{!-- Display all the user's rentals --}}
    <div class="rentalIfo">
    {{#each userRentals}}
        <div class="accountContainer">
            {{#each rental}}
                <h2>{{this.name}}</h2>
                <p>{{this.value}}</p>
            {{/each}}
        </div>
    {{/each}}
    </div>

<div class="logoutAccount">
    <form action="/logout" method="post">
        <button class="btn btn-primary buttonRent" name="foo" value="upvote">Logout</button>
    </form>
</div>
