<html>

{{{body}}}


{{#if alertMessage}}
<h1 class={{alertClass}}>{{alertMessage}}</h1>
{{/if}}

<form action="{{formInput}}" method="post" role="form" enctype="application/x-www-form-urlencoded">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required="required">
    <label for="newName">New Name:</label>
    <input type="text" id="newName" name="newName" required="required">
    <label for="newPrice">New Price:</label>
    <input type="text" id="newPrice" name="newPrice" required="required">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form action="{{formInput}}" method="post" role="form" enctype="application/x-www-form-urlencoded">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required="required">
    <label for="price">Price:</label>
    <input type="text" id="price" name="price" required="required">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form action="{{formInput}}" method="post" role="form" enctype="application/x-www-form-urlencoded">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required="required">
    <button type="submit" class="btn btn-primary" value="delete">Submit</button>
</form>


</html>