<html>

{{{body}}}

{{#if alertMessage}}
<h1 class={{alertClass}}>{{alertMessage}}</h1>
{{/if}}

<div class="containerMain">
    <h1> Welcome to our Ski Sop</h1>
    <h2> Skiing is here </h2>

    <p> Skiing and Snowboarding season passes are here!</p>
    <p>Come see us at one of our booths </p>
</div>

<div class="containerRectangle">
    <div class ="rectangleHome">
        <img src="{{snowboardImage}}" class="imageSnowbaord" alt="SnowBoard" height="200px" width="200px"> 
        <h3>Snowboards</h3>
        <div class="textImage">
            <p id="specialMove">Check out our latest snowboards in stock</p>
            <a href="/rent" class="btn btn-primary">Click here</a>
        </div>
    </div>
    <div class="rectangleHome">
        <img src="{{skiImage}}" class="imageSki" alt="skiImage" height="200px" width="50px">
        <h3>Skis</h3>
        <div class="textImage">
            <p>Check out our latest<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; skis in stock</p>
            <a class="btn btn-primary" href="/rent">Click here</a>
        </div>
       
    </div>
</div>

<button type="button" onclick="location.href = '/rent';" class="btn btn-primary buttonRent">Rent Now</button>

<div class="devText">
    <h1>Our Developers</h1>
</div>

<div class="containerCircle">
    
    <div class ="circleHome">
        <a href="https://ericduffield.com/"><img src="{{ericImage}}" alt="Eric" 
    style="border-radius: 50%; height=300px; width: 300px;"></a>
    <figcaption class="underImage">DUFF COIN TO THE MOON</figcaption>
     </div>
    <div class="circleHome">
        <a href="https://www.linkedin.com/in/liam-kopke-019a2415a/"><img src="{{liamImage}}" alt="Liam" 
    style="border-radius: 50%; height=300px; width: 300px;"></a>
    <figcaption class="underImage">Ian wheres the project?</figcaption>
     </div>
    <div class="circleHome">
        <a href="https://crypto.com/price/terra-luna"><img src="{{pleasureImage}}" alt="Pleasure" 
    style="border-radius: 50%; height=300px; width: 300px;"></a>
    <figcaption class="underImage">Luna to 1¢ </figcaption>
      </div>
</div>

<button type="button" onclick="location.href = '/about';" class="btn btn-primary buttonAboutUs">About Us</button>

<div class="locationText">
    <h1>Our Locations</h1>
</div>
<div class="locationEdit">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15847.373874332563!2d-73.92825726031559!3d45.40033745617259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc938500caad3a7%3A0xd807d74a59dcffcf!2sJohn%20Abbott%20College!5e0!3m2!1sen!2sca!4v1652892654555!5m2!1sen!2sca" 
    width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18839.629497878344!2d-73.84102483800416!3d45.47462591516611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc93b79badb6fbd%3A0x1267c0fb8582efd2!2sK-BBQ!5e0!3m2!1sen!2sca!4v1652893051261!5m2!1sen!2sca" 
    width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


<div id="cookieNotice" class="light display-right" style="display: none;">
    <div id="closeIcon" style="display: none;">
    </div>
    <div class="title-wrap">
        <h4>Cookie Consent</h4>
    </div>
    <div class="content-wrap">
        <div class="msg-wrap">
            <p>This website uses cookies or similar technologies, to enhance your browsing experience and provide personalized recommendations. By continuing to use our website, you agree to our  <a style="color:#115cfa;" href="#">Privacy Policy</a></p>
            <div class="btn-wrap">
                <button class="btn-primary" onclick="acceptCookieConsent();" id="acceptCookie">Accept</button>
            </div>
        </div>
    </div>
</div>

</html>