<html>

{{{body}}}

{{#if alertMessage}}
<h1 class={{alertClass}}>{{alertMessage}}</h1>
{{/if}}

<div class="container">
    <h1> Welcome to our Ski Sop</h1>
    <h2> Skiing is here </h2>

    <p> Skiing and Snowboarding season passes are here!</p>
    <p>Come see us at one of our booths </p>
</div>

<div class="containerRectangle">
    <div class ="rectangleHome">
        <img src="{{snowboardImage}}" class="imageSnowbaord" alt="SnowBoard" height="200px" width="200px"> 
        <h3>Snowboards</h3>
        <div class="textImage">
            <p id="specialMove">Check out our latest snowboards in stock</p>
            <a href="/rent" class="btn btn-primary">Click here</a>
        </div>
    </div>
    <div class="rectangleHome">
        <img src="{{skiImage}}" class="imageSki" alt="skiImage" height="200px" width="50px">
        <h3>Skis</h3>
        <div class="textImage">
            <p>Check out our latest<br> skis in stock</p>
            <a class="btn btn-primary" href="/rent">Click here</a>
        </div>
       
    </div>
</div>

<a class="buttonRent" href="/rent">Rent Now</a>

<div class="devText">
    <h1>Our Developers</h1>
</div>

<div class="containerCircle">
    
    <div class ="circleHome"><img src="{{ericImage}}" alt="Eric" 
    style="border-radius: 50%; height=300px; width: 300px;">
    <figcaption class="underImage">DUFF COIN TO THE MOON</figcaption>
     </div>
    <div class="circleHome"><img src="{{liamImage}}" alt="Liam" 
    style="border-radius: 50%; height=300px; width: 300px;">
    <figcaption class="underImage">Ian wheres the project?</figcaption>
     </div>
    <div class="circleHome"><img src="{{pleasureImage}}" alt="Pleasure" 
    style="border-radius: 50%; height=300px; width: 300px;">
    <figcaption class="underImage">Gamble your money </figcaption>
      </div>
</div>


<a class="buttonAboutUs" href="/about">About Us</a>
</html>