{{#if message}}
<h1>{{message}}</h1>
{{/if}}

<h2>Items</h2>
<br>
<div class="grid">
    {{#each allItems as |item|}}
    <div>
        <p class="name">{{name}}</p>
        <div class="fields">
            <p><b>Id:</b> {{id}}</p>
            <p><b>Description:</b> {{description}}</p>
            <p><b>Cost:</b> {{itemCost}}$</p>
            {{decrement "typeIndex" itemType}}
            {{#with (lookup @root.allItemTypes @root.typeIndex )}}
            <p><b>Item Type:</b> {{name}}</p>
            {{/with}}
        </div>
    </div>
    {{/each}}
</div>

<h2>Item Types</h2>
<div class="grid">
    {{#each allItemTypes}}
    <div>
        <h4>{{name}}</h4>
        <p>Id: {{id}}</p>
    </div>
    {{/each}}
</div>

<h2>Users</h2>
<div class="grid">
    {{#each allUsers}}
    <div>
        <h4>{{username}}</h4>
        <p>Id: {{id}}</p>
        <p>First Name: {{firstName}}</p>
        <p>Last Name: {{lastName}}</p>
        <p>Credit: {{credit}}$</p>
        <p><b>User Type:</b> {{lookup @root.userTypes userType }}</p>
    </div>
    {{/each}}
</div>